<app-navbar></app-navbar>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.autotable.min.css"
/>

<section class="content">
  <div class="container-fluid">
    <div class="row m-t-sm">
      <div class="col-md-15">
        <div class="panel">
          <div class="panel-body">
            <div class="col-md-12 col-sm-12" id="list_alumnos">
              <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-user"></i>
                    </div>
                    <div class="header-title">
                        <h3>Pilotos</h3>
                        <small>
                          Pilotos Registrados
                        </small>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-12 text-right">
                            <a id="btnNuevo" class="btn btn-w-md btn-info"
                                routerLink="/crear-pilotos">Nuevo Piloto +</a>&nbsp;&nbsp;
                    </div>
                </div> <br><br>

                  <div class="table-responsive">
                    <table
                      *ngIf="listPilotos.length > 0"
                      class="table table-hover table-striped"
                    >
                      <thead>
                        <tr>
                          <th>Codigo</th>
                          <th>nombre</th>
                          <th>Horas de vuelo</th>

                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody id="datos">
                        <tr *ngFor="let piloto of listPilotos">
                          <td>{{ piloto.codigo }}</td>
                          <td>{{ piloto.nombre }}</td>
                          <td>{{ piloto.hora_vuelo }}</td>

                          <td>
                            <i
                              (click)="eliminarPiloto(piloto._id)"
                              style="font-size: 25px"
                              class="pe pe-7s-trash text-accent"
                            ></i
                            >&nbsp;&nbsp;
                            <i
                              [routerLink]="['/editar-pilotos', piloto._id]"
                              style="font-size: 25px"
                              class="pe pe-7s-pen text-accent"
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
