 <!-- Header-->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="index-2.html">
                VUELOS
                <span>v.1.0</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="#">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class=" profil-link">
                    <a routerLink="/">
                        <span class="profile-address">{{ nombre }}</span>
                        <img src="assets/images/profile.jpg" class="img-circle" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End header-->

<!-- Navigation-->
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Usuarios
            </li>
          
            <li>
                <a href="/listar-pilotos">Pilotos</a>
            </li>

            <li>
                
                <a href="/listar-aviones">Aviones</a>
            </li>

            <li>
                
                <a href="/listar-miembros">Miembros-Tripulacion</a>
            </li>

            <li>
                
                <a href="/listar-vuelos">Vuelos</a>
            </li>       
          
            <li class="nav-info">
                <i class="pe page-header-icon pe-7s-plane"></i>
                <div class="m-t-xs">
                    <span class="c-white">Vuelos</span> 
                      Compañia dedicada a la Reserva de viajes, integrado por pilotos, aviones y miembros de tripulación.
                </div>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->
