<app-navbar></app-navbar>
<section class="content">
  <div class="container-fluid">
    <div class="row m-t-sm">
      <div class="col-md-15">
        <div class="panel">
          <div class="panel-body">
            <div class="col-md-12 col-sm-12" id="form" style="display:block;">
              <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12"><h5 class="m-t-xs">Editar Avión</h5></div>
                  </div>
                  <form [formGroup]="avionForm" (ngSubmit)="actualizarAvion()">
                    <div class="form-group">
                      <label>Codigo</label>
                      <input type="text" formControlName="codigo" class="form-control" placeholder="Ingresar Codigo">
                      <div class="text-danger"
                        *ngIf="avionForm.get('codigo')?.hasError('required') && avionForm.get('codigo')?.touched">
                        <span>El código <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Tipo</label>
                      <input type="text" formControlName="tipo" class="form-control" placeholder="Ingresar Tipo">
                      <div class="text-danger"
                        *ngIf="avionForm.get('tipo')?.hasError('required') && avionForm.get('tipo')?.touched">
                        <span>El tipo <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Base</label>
                      <input type="text" formControlName="base" class="form-control" placeholder="Ingresar Base">
                      <div class="text-danger"
                        *ngIf="avionForm.get('base')?.hasError('required') && avionForm.get('base')?.touched">
                        <span>La base <strong>es obligatoria</strong></span>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="panel-body buttons-margin">
                        <button type="submit" [disabled]="avionForm.invalid" class="btn btn-w-md btn-success">Guardar</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-w-md btn-warning" routerLink="/listar-aviones">Cancelar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
